.o_material_borrow_container {
    justify-content: center !important;
    background-color: gray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.full-h {
    height: 100%;
}
/* messages */
.o_general_materials_message {
    font-size: 2rem;
    font-weight: bold;
    margin-top:150px;
}
.btn {
    border-radius: 5px;
}
/* employees and locations */
.o_register_list {
    padding: 48px 0 0 0;
    @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.o_no_partners_message { 
    font-size: 150%;
    color:#77717e;
    margin-top: 50px;
    max-width: 100%;
    .o_no_partners_message_key {
        color: #09030f;
    }
}
.o_no_search_bar {   
    justify-content:flex-start;
}
.o_borrow_employees, .o_borrow_locations, .o_borrow_tools_container, .o_borrow_epis_container {
    display: none;
    .o_form_group {
        height: 100%;
        * {
            height: 100% !important;
        }  
        .input-group-text {
            background-color: white;
            border-right:none;
            color:#77717e;
        }
        .form-control {
            border-left: none;
        } 
     }
    .o_search_icon {
        font-size:2.5em;
    }
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 1.2em;

    @include media-breakpoint-up(sm) {
        overflow: hidden;
        flex: 1 0 auto;
    }

    @include media-breakpoint-up(lg) {
        width: auto;
        width: 100%;
        border-radius: 0.2em;
        animation: fadeInDownSmall .3s;
        margin: auto;
    }

    @include media-breakpoint-up(md) {
        width: auto;
        max-width: 1000px;
        width: 100%;
        border-radius: 0.2em;
        animation: fadeInDownSmall .3s;
        margin: auto;
    }
}

/* MAIN component */
.o_kanban_view #oe_hr_attendance_status {
    margin-right: .3em;
}

#oe_hr_attendance_status {
    color: $o-brand-secondary;
    &.oe_hr_attendance_status_green {
        color: theme-color('success');
    }
    &.oe_hr_attendance_status_red {
        color: theme-color('danger');
    }
}

.o_hr_attendance_kiosk_backdrop {
    @include o-position-absolute(0,0,0,0);
    background-color: fade-out(black, 0.7);
}

.o_borrow_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    @include o-position-absolute(0, 0, 0, 0);

    @include media-breakpoint-up(md) {
        justify-content: center;
    }
}

.o_borrow {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: fade-out(white, 0.1);

    h1 {
        
        margin-top: .4em;
    }
    @include media-breakpoint-down(sm) {
        overflow: hidden;
        padding: 0 2em 2em;
        flex: 1 0 auto;
    }
    @include media-breakpoint-down(md) {
        flex: 0 1 auto;
        margin: auto;
    }

    @include media-breakpoint-up(md) {
        padding: 2em 4em;
        width: auto;
        max-width: 550px;
        width: 100%;
        border-radius: 0.2em;
        font-size: 1.2em;
        animation: fadeInDownSmall .3s;
    }

    .o_hr_attendance_kiosk_welcome_row {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
        @include media-breakpoint-down(md) {
            > div {
                margin-bottom: 20px;
            }
        }

        img {
            max-width: 80px;
        }
    }

    .o_hr_attendance_sign_in_out_icon {
        cursor: pointer;
        margin: 0.1em 0 0.1em;
        padding: 0.15em 0.3em;
        border-radius: .1em;
        box-shadow: inset 0 -3px 0 fade-out(black, 0.7);

        &.btn-secondary:hover {
            color: $o-brand-primary;
        }
    }

    .o_hr_attendance_back_button {
        .visible-xs{
            background: gray('200');
            margin: 0 -2em;
            .fa {
                @include o-position-absolute(0.75em);
                margin-left: -1.5em
            }
        }

        .d-none.d-md-inline-block.btn-secondary {
            transform: translate(-50%, -50%);
            @include o-position-absolute(0, $left:0);
            width: 2em;
            height: 2em;
            border-radius: 50%;
            padding-left: 14px;
            line-height: 1.5em;
            text-align: left;
            color: $body-color;
            font-size: 1.6em;
            z-index: 1;
            box-shadow: inset 0 0 0 1px fade-out(black, 0.8);
        }
    }

    .btn-secondary{
        box-shadow: inset 0 0 0 1px fade-out(black, 0.9);
        color: $headings-color;
    }

    .o_hr_attendance_user_badge {
        background: linear-gradient(to right bottom, #77717e, #c9a8a9);

        img {
            width: 50px;
            height: 50px;
            background: white;
            border: 1px solid #d7d7d7;
        }

        @include media-breakpoint-down(sm) {
            margin: 1em -2em 0;
            background: transparent;
        }

        @include media-breakpoint-up(md) {
            margin: 0;
            height: 90px;
            border-radius: .2em .2em 0 0;
            border-top: 1px solid fade-out(white, 0.8);
            @include o-position-absolute(auto, 0, 100%, 0);
            transform: translateY(3px);

            img {
                width: 80px;
                height: 80px;
                transform: translateX(-50%)translateY(35%);
                @include o-position-absolute($bottom: 0);
            }
        }

        h1 {
            margin-top: .4em;
        }
    }

    .o_hr_attendance_pin_pad [class*="col-"] {
        padding: 4px;

        .o_hr_attendance_PINbox {
            font-size: 2em;
            border: none;
            padding: 0 $input-btn-padding-x-lg;
            background: fade-out(white, 0.6);
        }
    }

    .o_hr_attendance_random_message {
        font-style: italic;
    }

    .message_demo_barcodes {
        font-size: 0.9em;
        margin: 0;
    }

    img.o_hr_attendance_kiosk_company_image {
        overflow:hidden; // prevent margins colapsing with h1
        margin: 1rem 0 1rem;
        width: 100px;
    }

    p {
        text-align: left;
        margin: 1rem 0;
    }

    > button {
        font-size: 1.2em;
        margin-bottom: 1rem;
        width: 100%;
        font-weight: 400;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.main_button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.main_button:first-child{
    margin-left: 0;
}


.o_borrow_messages_modal {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top:0;

    .o_borrow_message_container {
        margin: auto;
        width: 80%;
        max-width: 1000px;
        min-height: 50vh;
        background-color: whitesmoke;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .o_borrow_message_container_header {
        display: flex;
        position: relative;
        .o_borrow_message_container_header_title {
            font-size:1.5em;
            font-weight: bold;
            margin: 10px auto;
        }

        .o_window_buttons_container {
            position: absolute;
            right: 10px;
            top:10px;
            color: red;
            i {
                cursor: pointer;
            }
        }

    }
    .o_borrow_message_container_body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 0 20px;
        @include media-breakpoint-down(sm) {
            padding: 0 5px;
        }
        .o_borrow_message_body_info {
            display: flex;
            flex-grow: 1;
            span {
                font-size: 1.2em;
                margin: auto;
                padding: 0 10px;
                @include media-breakpoint-down(sm) {
                    text-align: center;
                }
            }
        }
        .o_borrow_message_body_details {
            display: flex;
        }
    }
}

.o_borrow_message_footer {
    padding: 20px;
    display: flex;
    .modal_body_fotter {
        margin: auto;
        display: flex;
        width:50% ;
        min-width: 176px;
        justify-content: space-around;
        align-items: center;
    }
}

.o_canvas_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    .o_signature_canvas {
        width: 100%;
        height: calc(100vw/3);
        max-height:200px;
        max-width: 600px;
        border:3px solid #000000;padding:0px;
        border-radius: 5px;
    }
    .o_canvas_clear_button_container {
        display:flex;
        button {

            margin: 10px auto auto auto;
        }
    }
    
}

.o_selected_tool_details_container {
    width: 75%;
    @include media-breakpoint-down(sm) {
        width: 95%;
    }
    margin: 20px auto;
    .o_selected_tool_details_header {
        display: flex;
        flex-wrap: wrap;
        * {
            margin-bottom: 10px;
            @include media-breakpoint-down(sm) {
                margin: auto auto 10px auto ;
            }
        }
    }
    .o_tool_image_box {
        max-width:100px;
        width: 35%;
        display: flex;
        flex-grow: 2;
        background-color: white;
        border-radius: 5px;

        .o_tool_image {
            max-height: 80%;
            max-width: 100%;
            margin:auto;
        }
    }
    .o_selected_tool_reg_data {
        flex-grow: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .o_tool_info_container {
            padding-left: 10px;
        }
        .o_selected_register_subtitles {
            font-weight: bold;
            font-size:1.2rem;
            color: #77717e;
            @include media-breakpoint-down(sm) {
                font-size:0.9rem;
            }
        }
        .o_selected_register_info_field {
            @include media-breakpoint-down(sm) {
                font-size:0.8rem;
            }
        }
    }
    .o_selected_registers_in_tools_details {
        display: flex;
        button {
            width: 40px;
            height: 40px;
            margin: auto;
        }
        .o_selected_register_info {
            margin: auto 10px;
            .o_data_selected_employee, .o_data_selected_location  {
                color:blue;
                cursor: pointer;

            }
            
        }
    }

}




/* Registers details */
.o_register_box {    

    @include media-breakpoint-up(lg) {
        width: 20%;
        margin: 5px 10px 5px 0;

    }

    @include media-breakpoint-up(md) {
        width: 30%;
        margin: 5px 10px 5px 0;

    }

    display:flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    

    .o_employee_image_box {
        max-width:100px;
        width: 35%;
        display: flex;
        flex-grow: 2;
    }

    .o_employee_image {
        max-height: 80%;
        max-width: 100%;
        margin:auto;
    }

    .o_employee_name_job {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        max-width:60%;

        .o_info_container {
            display: flex;
            justify-content: center;
            margin:0 auto;
        }
        .o_employee_name {
            font-weight: bold;
            margin:10px auto 0 auto;
        }

        .o_employee_job {
            font-weight: bold;
            margin:0 auto;
            color: #77717e;
        }

    }
    .o_employee_attendance_status {
        flex-grow: 1;
        display: flex;
        min-width: 10%;
        span {
            margin:15px 15px auto auto
        }
    }
    .o_employee_attendance_status_red {
        color: red;
    }
    .o_employee_attendance_status_green {
        color: green;
    }
}

.o_register_header {
    
    display:flex;
    width: 100%;
    border-bottom: 2px solid #7C7BAD;
    min-height: 48px;
    max-width: 1000px;
    position: fixed;
    background-color: white;

    .o_register_header_left{
      color:#09030f;
      .o_register_header_left_icon_back {
            font-size: 200%;
            padding:0 10px 0 10px;
            color:#7C7BAD;
            cursor: pointer;
      }
      .o_register_header_left_text {
          vertical-align: text-bottom;
        
      }
    }
    .o_header_search_box {
        margin: 0 0 0 auto;
    }

    @include media-breakpoint-up(sm) {
        justify-content: space-between;
    }
}


/* selected_info_container */
.o_selected_info_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;

    
    .o_title_selected {
        font-size: 1.5rem;
        color: #77717e;
        position: relative;

        .o_title_selected_complet {
            background-color: rgba(250, 235, 215, 0.9);
            border-radius: 10px;
            font-size: 65%;
            padding: 20px 15px 20px 15px;
            position: absolute;
            top: 58px;
            z-index: 100;
            display:none;

            .o_title_selected_complet_close{
                position: absolute;
                top: -2px;
                right: 6px;
                font-size: 150%;

            }
            
        }
    }

    

    .o_window_buttons_container {
        color: red;
        margin-left: 8px;
        i {
            cursor: pointer;
        }
    }

    .o_data_selected_employee, .o_data_selected_location {
        font-size: 1.7rem;
        color: blue;
        cursor: pointer;
    }
}

.o_borrow_show_selected_register_container {
    display: none;
    .o_register_flex_container {
        display: flex;
        .o_register_visual_container {
            display: flex;
            width: 100%;
            max-width: 1000px;
            flex-direction: column;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
           
        }
    }

    .o_stock_regsiter_group_container {
        display: none;
    }
    
    .o_selected_register_subtitles {
        font-weight: bold;
        font-size:1.2rem;
        color: #77717e;
        @include media-breakpoint-down(sm) {
            font-size:0.9rem;
        }
    }
    .o_stock_regsiter_group_title {
        display: flex;
        font-weight: bold;
        font-size:2rem;
        color: #77717e;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);

        @include media-breakpoint-down(sm) {
           // font-size:0.9rem;
        }
        .o_selected_register_title {
            margin: auto;
        }
        .o_selected_register_icon_up {
            margin: auto 10px auto 0;
        }
        .o_selected_register_icon_down {
            margin: auto 10px auto 0;
            display: none;
        }

    }
 
        

 
    
    .o_selected_register_info_field {
        @include media-breakpoint-down(sm) {
            font-size:0.8rem;
        }
    }
    .o_selected_register_card {
        display:flex;
        flex-direction: column;
        margin-top:48px;

        .o_selected_register_header {
            display:flex;

            .o_selected_register_header_info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-grow: 1;
                
                .o_selected_register_info {
                    display: flex;
                    margin: auto;

                }

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                    .o_selected_register_info * {
                        margin: auto;
                    }
                }
            }

        }
        .o_stock_regsiter {
            display: flex;
        /*     .o_stock_reg_image {
            } */
            .o_stock_reg_data {
                display: flex;
                flex-grow: 1;
                padding: 10px;
                justify-content: center;
                flex-direction: column;
            }
            .o_return_tool_button_container {
                display: flex;
                button {
                    margin: auto 20px auto auto;
                    @include media-breakpoint-down(sm) {
                        margin: auto 10px auto auto;
                    }
                }
            }

        }

        img  { 
            margin: auto 0px auto 5px;
            max-width: 128px;
            max-height: 128px;
            @include media-breakpoint-down(sm) {
                max-width: 100px;
                max-height: 100px;
            }
        }

        .o_stock_regsiter:nth-child(even) {
            background-color: #f2f2f2;
        }


        .o_stock_regsiter:nth-child(odd) {
            background-color: #e6e6e6;
        }


    }
}

/* camera button */
.o_camera_button {
    position: absolute;
    z-index: 999;
    top: 5vw;
    left: 5vw;
    display: none;
    
    margin-bottom: 0 !important;
    width: auto !important;
}

/* read barcode mobile */
#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}